/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* Import the purecss base styles, see http://purecss.io */
@import "https://cdn.rawgit.com/SpiderWebShow/purecss-0.2.1/master/pure0.2.1.css";

/* Import the Roboto font from Google's Font API */
/* @import "https://fonts.googleapis.com/css?family=Roboto:100,100italic,400,400italic"; */


/* MEASUREMENTS */
$base_unit: 1em;

/* COLORS */

$dark: #2c3e50;
$dark_accent: lighten($dark, 20%);
$pink: #e67377;
$tan: #dbd3cb;
$blue: #6dbcdb;
$light: #fff;
$white: #fff;

/* LINK COLORS */
$link_default_color: blue;
$link_hover_color: red;

/* TYPOGRAPHY */

$textcolor: #444;
/* $type_default: "Roboto", Helvetica, Arial, sans-serif; */
$type_default: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$type_serif: Georgia, "Times New Roman", serif;

/* MISC STYLES */
// standardized border-radius
$radius: 4px;
// double-lined for use in borders
$double_line: double 3px $textcolor;


/* GLOBALS  */
body {
	font-family: $type_default;
	color: $textcolor;
}

/* Border-Box Sizing */
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* For all divs that have a pure-u grid class applied, add 1 em of padding on either side. */
.pure-g-r > [class ^= "pure-u"] {
	padding-right: $base_unit;
	padding-left: $base_unit;
}

/* remove column padding when columns aren't displayed */
@media (max-width:767px) {
	.pure-g-r > [class ^= "pure-u"] {
		padding-right: 0;
		padding-left: 0;
	}
}

/* Skiplink */
/* Implemented using solutions outlined by WebAIM: */
/* http://webaim.org/techniques/skipnav/ */
/* http://webaim.org/techniques/css/invisiblecontent/ */
a.skiplink {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

a.skiplink:focus {
  left: $base_unit;
  top: $base_unit;
  z-index: 1000;
  width: auto;
  height: auto;
  background: $white;
  padding: $base_unit;
  overflow: visible;
}

/* GLOBAL LINK COLOURS */
/* FILE(S): All */
/* SCOPE: Global */

a {
  color: $link_default_color;
  transition-duration: 0.2s;
}

a:visited {
  color: $textcolor;
}

a:active {
  color: $textcolor;
}

a:hover {
  color: $link_hover_color;
}

/*
a:focus {
  background: yellow;
}
*/


/* Default Horizontal Rule */
hr {
	margin: $base_unit 0;
	height: 3px;
	border: 0;
	border-top: $double_line;
}

/* MOBILE FIRST */
/* STRUCTURE LAYOUT FOR TABLET & BELOW */

.nav, .main {
	width: 100%;
	margin: 0;
	min-height: intrinsic;
}

.nav {
	position: fixed;
	top: 0;
	height: 3em;
	background: $dark;
	color: $white;
	z-index: 100;

	/* Translate3d Layer Hack */
	transform: translate3d(0);
}

.main {
  margin-top: $base_unit * 3.5;
	padding: $base_unit;
}

  /* Logo is hidden at mobile sizes */
  .nav-logo {
    display: none;
  }

/* STRUCTURE LAYOUT FOR DESKTOP  */

@media (min-width:768px) {
  .nav, .main {
  	min-height: 100%;
  }

  .nav {
  	position: relative;
  	width: 20%;
  	background: #fff;
  }

  /* Logo displays at Desktop and wider sizes */
  .nav-logo {
    display: block;
  }

  .main {
    margin-top: 0;
  	position: absolute;
  	width: 80%;
  	margin-left: 20%;
  }
}


/* MAIN_CONTENT PADDING */
/* PS Why is this specified in its own whole thing? I must have had a reason at the time but I don't recall now ^GFS */

.main_content {
	padding: 0 $base_unit * 2;
}

@media (max-width:767px) {

  .main_content {
    padding: 0;
  }

}

/* TYPOGRAPHY */

h1,h2,h3,h4,h5,h6 {
/*
	font-style: normal;
	font-weight: 100;
*/
}


@media (max-width:767px) {
	h1 {
		font-size: $base_unit * 2.5;
	}
}

h1 {
	font-size: $base_unit * 4;
}



/* BANNER & BRANDING */
/* FILE(S): All */
/* SCOPE: Global */
/* Controls the display of the Site title and logo on all pages */

/* Mobile first! */
.nav-logo { display: none; }

.nav-title {
	position: absolute;
 	padding: 0 1rem;
	font-size: 1.2em;
	color: $white;
}


@media (min-width:768px) {

  .nav-logo {
    display: block;
    padding: $base_unit;
    max-width: 100%;
  }

	.nav-title {
  position: relative;
  	margin: 0;
  	font-size: 2em;
  	color: $textcolor;
  	overflow: hidden;
  }

  .nav-title span {
    float: left;
  }

  .nav-established {
    padding: 0 1rem;
    text-decoration: none;
    color: $textcolor;
  }


}



/* MAIN NAVIGATION */

.nav_menu {

  margin: 0;
  padding: $base_unit;

	ul {
	  margin: 0;
	}

	li {
		font-weight: 100;
		font-size: 1.4em;
		font-style: normal;
		padding: 0.2em 0;
		border-bottom: solid 1px $textcolor;
	}

	 li:last-child {
		border-bottom: none;
	}

	a {
		color: $textcolor;
		text-decoration: none;
		display: block;
	}

	a:hover {
		color: $link_hover_color;
	}
}

@media (max-width:767px) {
	.nav_menu {
		margin-top: 3em;
		background: $dark;
		display: none;
	}

	.nav_menu li {
		border: none;
	}

	.nav_menu.visible {
		display: block;
	}

	.nav_menu a {
		display: block;
		padding: 0.4em;
		border: solid 1px $textcolor;
		color: #fff;
	}

}


/* NAVIGATION TOGGLE BUTTON ON MOBILE */

.nav_toggle {
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8em;
	color: $white;
	margin: 0.7em 1rem;
	padding: 0.5em 1em;
	background: $blue;
	border-radius: $radius;
	display: none;
}

.nav_toggle:active {
	background: $pink;
}

@media (max-width:767px) {
	.nav_toggle {
		display: block;
	}
}



/* SUPPLEMENTARY NAVIGATION */
.Nav-pagination {
  margin: 2em inherit 4em;
  height: 2em;
  font-weight: bold;
  font-size: 1.5em;
}

  .Nav-pagination--older {
    float: right;
    margin-bottom: 4em;
  }

  .Nav-pagination--newer {
    float: left;
    margin-bottom: 4em;
  }



/* MEDIA & EMBEDS */



/* STAGES  */

.stage {
	margin: 0;
	padding: 2em;
	min-height: 100%;
}


	.stage h1 {
		margin-top: 0;
	}

@media (max-width:767px) {

	.stage {
		padding: 2em 0;
	}

	.stage h1 {
		margin-top: 0.67em;
	}

}


/* HOMEPAGE */
/* FILE(S): home.php */
/* SCOPE: .home */
/* Controls the display of the homepage */

@media (max-width:767px) {

  .main_content h1 {
    font-size: 2em;
  }

  .directory-card {
    margin: $base_unit;
    padding: $base_unit;
   	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
   	width: calc(100% - 2em);
  }

}

@media (min-width:768px){

  .directory-card {
    margin: $base_unit;
    padding: $base_unit;
   	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
   	width: calc(50% - 2em);
  }

}


.directory {

}


.directory-card-title {
  margin-top: 0;
}

/* Responsive images fix for homepage masonry */
.directory-card img {
  max-width: 100%;
}




/* WEB-MAP PAGE */
#collaborations {
	position: relative;

	.overlay {
		position: absolute;
		z-index: 10;
		font-size: 16px;
		font-family: $type_default;
		color: $white;

		h1 {
			text-shadow: 1px 1px 2px $dark;
		}

	}

}


/* VERTICAL_HEADER */

.vertical_header {
  margin-top: 0;
  padding: 0;
}

.vertical_header-caption {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  color: #999;
}




/* #CDNCULT SECTION */

.vertical_cdncult {
	background: $white;
	/* font-family: Georgia, "Times New Roman", serif; */
	font-family: $type_default;

	/* Cdncult Header Styles */
	h1, h2, h3, h4 {
/* 		font-family: 'Chronicle Cond A', 'Chronicle Cond B'; font-weight: 700; font-style: normal; */

	}

	/* Cdncult Section Link styles */
	a {
		color: $textcolor;
	}

	a:hover {
		color: $link_hover_color;
	}
}

.cdncult_header {

	h1 {
		margin-bottom: 0;
	}

	a {
		text-decoration: none;
	}

}

@media (max-width:767px) {
	.cdncult_header h1 {
		font-size: 2em;
	}
}



.cdncult_home {

	h2 a {
	text-decoration: none;
	}

	.author, .date {
		font-size: 0.9em;
/* 		font-family: 'Chronicle Cond A', 'Chronicle Cond B'; font-weight: 700; font-style: normal; */
		border-top: solid 1px $textcolor;
		border-bottom: solid 1px $textcolor;
		padding: 0.7em 0;
		text-align: center;
	}

	.edition-intro {
		/*
padding-right: 2em;
		border-right: solid 1px $textcolor;
*/
	}

	.edition-article-excerpts {
		/* padding-left: 2em; */
	}

	.cdncult-home-excerpt div {
		overflow: hidden;
		padding: 1em;
		/* border-bottom: solid 1px $textcolor; */


	}

	.cdncult-home-excerpt:last-child {
		border-bottom: 0;
	}

}

@media (max-width:767px) {

	.cdncult_home {

		.edition-intro {
			padding-right:0;
			border: 0;
		}

		.edition-article-excerpts {
			padding-left: 0;
		}

	}

}



.excerpt-more {
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.9em;
/* 	font-family: 'Chronicle Cond A', 'Chronicle Cond B'; font-weight: 700; font-style: normal; */
}

.post-header {

	.post-pub-date {
		display: block;
		font-size: 0.7em;
		text-transform: uppercase;
		margin: $base_unit 0;
	}

	.post-title {
		font-size: 3em;
	}

	.author-name {
		font-size: 1.2em;
/* 		font-family: 'Chronicle Cond A', 'Chronicle Cond B'; */
		font-weight: 400;
		font-style: normal;
	}

} /* /.post-header */

.post-content {
	padding-right: $base_unit * 2;
}

@media (max-width:767px) {
	.post-content {
		padding-right: 0;
	}
}


.post_meta-author {
	margin-bottom: 2em;
	text-align: center;
	padding: $base_unit;
	border: $double_line;
	color: $textcolor;

	.author-name {
		font-size: 1.8em;
/* 		font-family: 'Chronicle Cond A', 'Chronicle Cond B'; */
		font-weight: 700;
		font-style: normal;
	}

	.author-photo img {
		border-radius: 50%;
		border: solid 1px $textcolor;
		padding: 2px;
	}

	.author-bio {
		font-size: 0.8em;
		padding-bottom: 1em;
	}

	.author-website {
		color: $textcolor;
		text-decoration: none;
		font-family: $type_default;
		border-radius: 3px;
		font-size: 0.7em;
		text-transform: uppercase;
	}

	.author-website:hover {
		color: $link_hover_color;
	}

	.author-related-posts-header, .about-the-author, .connect-the-author {
		font-size: 0.9em;
/* 		font-family: 'Chronicle Cond A', 'Chronicle Cond B'; font-weight: 700; font-style: normal; */
		text-transform: uppercase;
		display: inline-block;
		padding: 0.2em 1em;
		border-top: solid 1px #bbb;
		border-bottom: solid 1px #bbb;
		}

/*
	.author-related-post {
		display: block;
		color: $textcolor;
		line-height: 1.8em;
		font-size: 0.9em;
	}

		.author-related-post:hover {
			color: $link_hover_color;
		}
*/

} /* /.post_meta-author */



.post_meta-bottom {
	margin-bottom: 2em;
	width: 100%;
	padding: $base_unit;
	border: $double_line;
	text-align: center;

	.category-list-header, .tag-list-header {
		font-size: 0.9em;
/* 		font-family: 'Chronicle Cond A', 'Chronicle Cond B'; font-weight: 700; font-style: normal; */
		text-transform: uppercase;
		display: inline-block;
		padding: 0.2em 1em;
		border-top: solid 1px #bbb;
		border-bottom: solid 1px #bbb;
	}

	.category-list, .tag-list {
		font-size: 0.9em;
	}

} /* /.post_meta-bottom */

/* RELATED ARTICLES */
/* FILE: single-article.php */
/* SCOPE: .related */
/* Related articles box at the end of CdnCult articles pointing to sibling articles in the same edition */

.related {
  padding: 1em;
  border: $double_line;
}

.sidebar-header {
  font-size: 0.9em;
/* 	font-family: 'Chronicle Cond A', 'Chronicle Cond B';  */
	font-weight: 700;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	padding: 0.2em 1em;
	border-top: solid 1px $textcolor;
	border-bottom: solid 1px $textcolor;
}

.related p {
  font-size: 0.9em;
}

/* Post Images */
/* (Including fixing Wordpress's Stupid-ass Image Insertion) */

div.wp-caption img {
	max-width:100%; // It can only be as wide as its .wp-caption container, which thanks to the functions.php trickery, no longer has stupid fucking inline styles.
	height:auto; // This overrides the stupid fucking inline styles that wordpress STILL insists on adding, which is fucking incredible in 2014
	border: solid 1px $textcolor;
}

p.wp-caption-text {
	font-size: 0.8em;
	color: $textcolor;
	font-style: italic;
	border-bottom: $double_line;
	padding-bottom: $base_unit;
}

.wp-caption.alignleft, .wp-caption.alignright {
	max-width: 300px;
}

.alignleft .wp-caption-text, .alignright .wp-caption-text {
	max-width: 300px;
}

.alignleft {
	float: left;
	padding: 1em 2em 2em 0;
}

.alignright {
	float: right;
	padding: 1em 0 2em 2em;
}


/* SINGLE EDITION STYLING */
/* FILE: single-edition.php  */

.single-edition {

  .thumbnail {
    // Each edition has a featured image thumbnail
    margin-bottom: 2em;
  }

  .article-list {
    // A list of the child articles within that edition
    padding: $base_unit;
    border: $double_line;

    p.label {
      font-style: italic;
      text-align: center;
    }

  }

}

/* EDITION ARCHIVE STYLING */
/* FILE: archive-edition.php */
/* Listings of archived Editions of #CdnCult */

.Archive-thumbnail {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (min-width: 768px) {

  .Archive-thumbnail {
    float: left;
    margin-right: 1em;
  }

}




/* COMMISSIONS VERTICAL */
/* FILES: page-commissions.php, single-commission.php */

.vertical_commissions {

  a.commission-maker-detail {
    display: block;
    text-align: center;
  }

}

/* SPIDERWEBSOUND VERTICAL */
/* FILES: page-sound.php, taxonomy-sounds.php, single-a-sound.php */
/* SCOPE: .Soundseries */
/* Descriptive sections for series of sounds, or other meta-information related to podcasts */

.podcast-card,
.Soundseries-card {
	margin: 1em;
	background-color: #fff;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

.podcast-card figure,
.Soundseries-card figure {
	width: 100%;

	// Nested SCSS Alert! Might eventually scrub all these out but for now...
	img {
		width: 100%;
	}

}

.podcast-text,
.Soundseries-text {
	padding: 1em;
}


@media (min-width: 768px) {

	.podcast-card,
	.Soundseries-card {
		padding: 1em;
	}

	.podcast-card figure,
	.Soundseries-card figure {
		float: left;
		margin-right: 1em;
		width: auto;

			// Nested SCSS Alert! Might eventually scrub all these out but for now...
			img {
				width: auto;
			}

	}

}


/* EXPERIMENTS VERTICAL */

.vertical_experiments {
	background: $white;
}

.exp2_vertical {

}

.exp2-card {
	position: relative;
	float: left;
	height: 300px;
	width: 300px;
	color: $white;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.exp2-card .experiment {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: $base_unit;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.2)";
	filter: alpha(opacity=0.2);
	opacity: 0.2;

	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.exp2-card:hover {
-webkit-transform: scale(0.95);
-moz-transform: scale(0.95);
-o-transform: scale(0.95);
-ms-transform: scale(0.95);
transform: scale(0.95);
}

.exeriment h2, .experiment p {
	opacity: 1;
}

.exp2-card:hover .experiment {
	background: #000;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.7)";
	filter: alpha(opacity=0.7);
	opacity: 0.7;
}

.which-lab {
	padding: 0.25em 0.5em;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 0 0 4px;
}

.exp2-card .experiment.sonic-theatre, .which-lab.sonic-theatre {
	background: deeppink;
}

.exp2-card .experiment.twitter-theatre, .which-lab.twitter-theatre {
	background: royalblue;
}

.exp2-card .experiment.podcasts, .which-lab.podcasts {
	background: green;
}

.exp2-card .experiment.unknown-theatre, .which-lab.unknown-theatre {
	background: purple;
}

.exp2-card .experiment.tableau, .which-lab.tableau {
	background: goldenrod;
}

.exp2-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	padding: $base_unit;
	opacity: 1;
}

a .exp2-content, .exp2-content a {
	color: $white;
}

span.which-lab {
	font-size: smaller;
}


/* TALKSHOW VERTICAL */




/* SOCIAL SHARE BUTTONS ON ARTICLE PAGES */

.share-button {
	display: inline-block;
	font-size: 0.7em;
	text-transform: uppercase;
	font-family: $type_default;
}

.share-button a {
	background: #444;
	padding: 0.2em 0.8em;
	border-radius: 0.2em;
	color: $white;
	text-decoration: none;
}

.share-button.twitter a {
	background: #00acee; /* Old browsers */
	}

.share-button.facebook a {
	background: #4e69a2;
	}

.share-holder {
	margin-left: 0.2em;
	font-weight: bold;
	padding: 0.1em 0.8em;
	border: solid 1px #999;
	border-radius: 0.2em;
	display: none;
	background: #eee;
}

.share-holder.added {
	display: inline-block;
}


/* AUTHOR PROFILE PAGES */

.author_profile {
	padding-bottom: 3em;
}

#author-map {
	margin-top: $base_unit;
	width:100%;
	height:300px;
}



/* MAKERS PAGE */

.maker-card {
	display: block;
	width: 300px;
	padding: $base_unit;
	margin: $base_unit;
	overflow: hidden;
	float: left;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
	transition-duration: 0.2s;
	color: $textcolor;
	text-decoration: none;


	img {
		float: left;
		margin-right: $base_unit;
	}

	p {
		margin: 0;
		padding: 0;
	}

	p.twitter {
		color: #bbb; /* It would make sense to make a consistent "de-emphasis" lighter color. Consider contrast and accessibility when implementing */
	}

}

.maker-card:hover {
	transform: scale(1.05);
}

.creator-card {
  display: block;
  width: 300px;
  height: 150px;
  padding: $base_unit;
  margin: $base_unit;
  overflow: hidden;
  float: left;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);

	p {
  	margin: 0;
  	padding: 0;
  	margin-left: calc(75px + 1em);
	}

	a {
  	text-decoration: none;
	}

	p.twitter a {
	  text-decoration: none;
	  color: #bbb;
	}

	p.title {
  	margin-top: $base_unit;
	}

	p.location {
  	color: #bbb;
	}

	img {
  	float: left;
  	margin-right: $base_unit;
  	margin-bottom: $base_unit;
	}

}




/* CSS columns will only activate when the page is wide enough */
@media (min-width: 768px){

  .columnize {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }

}

/* 404 ERROR PAGE */
.fourohfour {
	text-align: center;
}
